.my-color-scheme {
  /* very-gray dark blue */
  background-color: #3A424C;
  /* mid-blue */
  color: #68A2E5;
  /* light-blue-gray */
  color: #9BB1CC;
  /* dark-blue-gray */
  color: #1E334C;
  /* neutral-steel */
  color: #748599;
}

#add-headers {
  float: left;
  /* border: 1px red solid; */
  font-size: 1.25em;
  font-weight: 700;
}

body {
  background-color: #3A424C;
  color: #EEEEEE;
  border-radius: 5px;
  padding-top: 20px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#code-HTML-holder {
  box-sizing: border-box;
  float: left;
  padding: 10px;
  margin: 1px;
  background-color: #3A424C;
  border: 1px black solid;
  width: 49%;
}

#code-HTML {
  background-color: #9BB1CC;
  padding: 10px;
  font-family: monospace;
}

#count-row,
#count-column {
  float: right;
  color: black;
  clear: right;
}

#count-headers {
  float: left;
  color: black;
  background-color: yellow;
  padding: 10px;
  margin-right: 10px;
  /* clear: left; */
}

#enter-column-labels {
  display: block;
  clear: both;
  float: left;
  padding: 15px;
  overflow: auto;
  color: black;
}

#enter-column-labels-banner {
  /* border: 1px green solid; */
  clear: both;
  float: left;
}

#enter-table-structure {
  padding: 0;
  margin: 0;
  float: right;
  clear:both;
  /* box-sizing: default; */
}

.gen-table {
  display: block;
  clear: both;
  float: right;
  border: 4px black double;
  border-radius: 5px;
  background-color: #748599;
  text-align: right;
}

.h-no-margin {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#header-the {
  padding: 10px 10px;
  width: 80%;
  margin: auto;
  height: 100px;
  position: relative;
}

#header-row {
  /* border: 1px yellow solid; */
}

#input {
  overflow: auto;
  width: 80%;
  margin: auto;
  padding: 25px 15px;
  /* border: 1px white dashed; */
  /* background-color: pink; */
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  /* padding: 10px; */
}

#left-side {
  display: inline-block;
  float: left;
  text-align: right;
  width: 30%;
}

#logo {
  /* display: inline-block; */
  float: left;
  width: 80px;
  /* padding-top: 50px; */
  position: relative;
  margin-right: 20px;
  height: 75px;
  ;
  /* border: 1px white dotted; */
}

#logo-copy {
  font-family: 'Inconsolata', monospace;
}

#logo-image {
  width: 72px;
  float: left;
  /* border: 1px black solid; */
  /* border: 1px green solid; */
}

#logo-name {
  float: left; 
  margin: auto 15px auto 0;
  /* border: 1px red solid; */
}

#logo-table {
  font-family: 'Tulpen One', cursive;
  font-size: 5em;
}

#logo-Maker {
  font-family: 'Galada', cursive;
  font-size: 5em;
}

#menu-main {
  display: none;
}

/* #add-headers, #checkbox-holder { */

/* display: inline-block; */

/* clear: left;   */

/* float: right; */

/* } */

#number-of-rows,
#number-of-cols {
  /* display: inline-block; */
  clear: left;
  float: right;
}

#output {
  width: 80%;
  margin: auto;
  padding: 25px 15px;
}

#self-promotion {
  position: absolute;
  bottom: 0;
  text-align: right;
  padding-bottom: 10px;
}

#self-promotion-holder {
  /* position: relative; */
  float: left;
}

.radio-btn {
  display: inline-block;
  margin-left: 10px;
  padding: 3px;
  /* color: yellow; */
}

#right-side {
  display: inline-block;
  margin-left: 10%;
  float: left;
  width: 60%;
}
#right-side-top {
  /* border: 1px white dashed; */
}

#table-input {
  margin: 0;
}

td,
th,
tr {
  border: 1px black solid;
  width: 1in;
  height: 2em;
  background-color: white;
}

#wrapper {
  background-color: #3A424C;
}

#wysiwyg-HTML {
  background-color: #9BB1CC;
  padding: 10px;
}

#wysiwyg-HTML-holder {
  width: 49%;
  box-sizing: border-box;
  float: right;
  padding: 10px;
  margin: 1px;
  background-color: #3A424C;
  border: 1px black solid;
}