.my-color-scheme {
  /* very-gray dark blue */
  background-color: #3A424C; 
  /* mid-blue */
  color: #68A2E5;
  /* light-blue-gray */
  color: #9BB1CC;
  /* dark-blue-gray */
  color: #1E334C;
  /* neutral-steel */
  color: #748599; 
}

body {
  background-color: #3A424C;
  color: #EEEEEE; 
  /* color: green; */
  border-radius: 5px; 
}

#enter-table-structure {
  padding: 0;
  margin: 0;
  box-sizing: default;
}

#header-the {
  padding: 10px 10px;
  width: 80%;
  margin: auto;
  height: 100px;
}

#input {
  overflow: auto;
  width: 80%;
  margin: auto;
  padding: 25px 15px;
  border: 1px red dashed;
  /* background-color: pink; */
}

#left-side {
  display: inline-block;
  float: left;
  text-align: right;
  width: 30%;
}

#logo {
  /* display: inline-block; */
  float: left;
  width: 10%;
  /* padding-top: 50px; */
  position: relative;
  margin-right: 20px;
  height: 75px;;
  border: 1px white dotted;
}

#output {
  width: 80%;
  margin: auto;
  padding: 25px 15px;
}

#raw-HTML {
  box-sizing: border-box;
  width: 49%;
  float: left;
  padding: 10px;
  margin:1px;
  background-color:  #9BB1CC;
  border: 1px black solid;
}

#formatted-HTML {
  box-sizing: border-box;
  width: 49%;
  float: right;
  padding: 10px;
  margin: 1px;
  background-color:  #9BB1CC;
  border: 1px black solid;
}

#right-side {
  display: inline-block;
  margin-left:10%;
  float: left;
  width: 60%;
}

#table-input {
  margin: 0;
}

td {
  border: 1px black solid;
  width: 25px;
  height: 15px;
}


#wrapper {
  background-color: #3A424C;
}